{% extends 'accueil.twig' %}
{% block main %} 
<main style="margin:20px">
    <h1>Mentions légales</h1>

    <article>
        <h3>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique</h3>
        <p>Il est précisé aux utilisateurs du site Couds & Découds l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
    </article>

    <article>
        <h3>Édition du site</h3>
        <p>Le présent site, accessible à l’URL <a href="https://tp2.iha.unistra.fr/~timmel/SAE301/accueil.php">www.couds&decouds.com</a> (le « Site »), est édité par :</p>
        <p>L’association 0102030405, enregistrée auprès de la préfecture/sous-préfecture de 67 - Sous-Préfecture Haguenau sous le numéro W123456789, ayant son siège situé à 2 rue de l'aiguille 67500 Haguenau, représentée par Découd Coud dûment habilité(e).</p>
    </article>

    <article>
        <h3>Hébergement</h3>
        <p>Le Site est hébergé par la société Autre, situé 30 Rue du Maire André Traband, 67500 Haguenau, (contact téléphonique ou email : +33388053400).</p>
    </article>

    <article>
        <h3>Directeur de publication</h3>
        <p>Le Directeur de la publication du Site est [Nom du Directeur].</p>
    </article>

    <article>
        <h3>Nous contacter</h3>
        <p>Par téléphone : +33102030405</p>
        <p>Par email : <a href="mailto:couds@découds.com">couds@découds.com</a></p>
        <p>Par courrier : 2 rue de l'aiguille 67500 Haguenau</p>
    </article>

    <article>
        <h3>Données personnelles</h3>
        <p>Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée, disponible depuis la section "Charte de Protection des Données Personnelles", conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 (« RGPD »).</p>
    </article>

    <article>
        <p>Génération des mentions légales par <a href="https://www.legalstart.fr">Legalstart.fr</a>.</p>
    </article>

</main>

{% endblock %}