{% extends 'index.html.twig' %}

{% block title %}Modifier l'objet{% endblock %}

{% block body %}
    <h1>Modifier l'objet</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Mettre à jour</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_objet_index') }}">← Retour à la liste des objets</a>
{% endblock %}
