@font-face {
  font-family: "Kamerik105";
  src: url("/fonts/Kamerik105-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.font-Kamerik105 {
  font-family: "Kamerik105", sans-serif;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFPRODISPLAYREGULAR.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFPRODISPLAYMEDIUM.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFPRODISPLAYBOLD.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
